body, html{
height:100%;
font-family: 'Montserrat', sans-serif;
padding:0;
}

    body {
    margin: 0;
    padding: 0;
    background: #EEE;
}
.wrap {
    overflow: hidden;
}
.box {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
}
.boxInner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}
.textInner{
    font-size: 46pt;
    color: white;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Libre Baskerville', serif;
    display: block;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}

.welcome h1{
	
	font-family: 'Libre Baskerville', serif;
	font-size:56pt;
	line-height:50pt;
	color:white;
	font-weight:700;
}

.welcome span{
	
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-size:18pt;
}

.awards{
	background-color:#f7f9fc;

}



.awards h1{
	
	font-size:40pt;
	color:#122035;
	font-family: 'Libre Baskerville', serif;
	padding-bottom:20px
	}


.menu {
		background-color: white;
	
}

.menu h1{
	
	font-size:40pt;
	color:#122035;
	font-family: 'Libre Baskerville', serif;
	
	}
	
.kafel {
	width:100%;
	height:100%;
	display:block;
	font-size:36pt;
	color:white;
	font-weight:300;
	background-size:cover;
	font-family: 'Libre Baskerville', serif;
    background-position: center;
    background-size: 100%;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;}

.kafel:hover {
  background-size: 110%;
  text-decoration:none;		
  color:white;

}
	
	hr.divider{
border:2px solid;
width:80px;
border-color:#dee9f9;
display:block;
margin-bottom:30px;
margin-top:0;
}

hr.divider-white{
border:2px solid;
width:80px;
border-color:#dee9f9;
display:block;

}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  /*& > [class^="col-"],*/
  /*& > [class*=" col-"] {*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
  /*}*/
}

.content h1{
	font-family: 'Libre Baskerville', serif;
	font-size:36pt;
	
}
.content p{
	
	font-size:12pt;
	font-family: 'Montserrat', sans-serif;
}

.nav-transparent a.nav-link{
	
	color:white;
}

.nav-transparent .navbar-toggler{
	
	    color: white;
    border-color: white;
}

.navbar-nav{
	

	font-size:18pt;
}

.navbar-light {
	  -webkit-transition: background 0.5; /* For Safari 3.1 to 6.0 */
  transition: background 1.0s;
	background-color:white;
}
.navbar-dark {

  -webkit-transition: background 0.5; /* For Safari 3.1 to 6.0 */
  transition: background 1.0s;
}