{% load static %}
{% load wagtailcore_tags utils %}

{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#  <a class="navbar-brand" href="#"><img height="50" width="50" src="{% static 'img/fb-logo.jpg' %}"> </a>#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{#  <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#    <ul class="navbar-nav mr-auto text-center">#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" href="{% slugurl 'menu-list' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#          Our menu#}
{#        </a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#        {% if menu|get_type == 'dict' %}#}
{#          {% for menu in menu_list_notempty %}#}
{#          <a class="nav-link" href="{% pageurl menu %}">{{ menu.title|upper }}</a>#}
{#          {% endfor %}#}
{#        {% endif %}#}
{#          {% for menu in menu_list_notempty %}#}
{#          <a class="nav-link" href="{% pageurl menu.menu %}">{{ menu.title|upper }}</a>#}
{#          {% endfor %}#}
{#        </div>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}

<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="main-nav" style="padding:10px 0px 10px 0px">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  " id="navbarText" >
    <ul class="navbar-nav mr-auto " style="margin:0 auto">
      <li class="nav-item">
        <a class="nav-link" href="{% slugurl 'home-page' %}">Home</a>
      </li>
      </li>
      <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Menu list<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
        {% if menu_list_notempty|get_type == 'dict' %}
          {% for menu in menu_list_notempty %}
          <a class="nav-link" href="{% pageurl menu %}">{{ menu.title|upper }}</a>
          {% endfor %}
        {% endif %}
          {% for menu in menu_list_notempty %}
          <a class="nav-link" href="{% pageurl menu.menu %}">{{ menu.title|upper }}</a>
          {% endfor %}
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% slugurl 'bug-form' %}">Contact/Report a bug</a>
    </ul>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        </div>
  </div>
</nav>