<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/css.html' %}
    {% block extra_css %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant App</title>
</head>
<body id="bs">

{% include 'snippets/nav-fixedtop.html' %}

{% block content %}
{% endblock %}

{% include 'snippets/js.html' %}
{% block extra_js %}
{% endblock %}
</body>
</html>