{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container text-center" style="padding-top: 5em;">
    {{ page.intro|richtext }}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
{#        <div class="g-recaptcha" data-sitekey="6Lf5jE8UAAAAANmoze3PMdf0g4cel3cJGcERl61L"></div>#}
        <button class="btn btn-default" type="submit">Send</button>
        {# 6Lf5jE8UAAAAAAqR9XA3tkbqkHQgLGhQW1eKCaUX #}
    </form>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}