{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container text-center" style="margin-top: 5em;">
    {{ page.thank_you_text|richtext }}
    <a href="{% slugurl 'home-page' %}">Go to home page</a>
    </div>
{% endblock %}