{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
<div class="container text-center" style="margin-top: 5em;">
    <div class="row">
        <div class="col-12">
            {% image page.header_image max-600x600 as header_image %}
            <img src="{{ header_image.url }}">
        </div>
        <div class="col-12">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="col-12">
            <p>{{ page.description|richtext }}</p>
        </div>
        <div class="col-12">
            <a href="{{ previous_page }}">Back</a>
        </div>
    </div>
</div>
{% endblock %}