{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <!-- HEADER -->
{% image page.header_image original as header_image %}

<div class="container-fluid" style="height:100%;  background: linear-gradient(rgba(13,23,40,.8),rgba(13,23,40,.8)), url({{ header_image.url }}); background-size:cover;">
    <div class="row" style="height:100%; margin:0">


        <div class="col-12 d-flex align-items-center justify-content-center text-center" >
                <div class="welcome">
                    <h1>{{ page.restaurant_name }}</h1>
                    <span>{{ page.header_text }}</span>
                </div>

        </div>

    </div>
</div>


    <!-- AWARDS -->

<div class="container-fluid awards">
    <div class="container">
    <div class="row" >
        <div class="col-6 offset-3  d-flex align-items-center justify-content-center text-center" >

                <div>
                    {{ page.awards|richtext }}
                    <hr class="divider">
                </div>
        </div>

    </div>
    </div>
</div>

    <!-- MENU LIST -->
<div class="wrap">
    {% for menu in menu_list %}
        {% image menu.menu.header_image original as menu_image %}
        <div class="box">
        <a href="{% pageurl menu.menu %}">
        <div class="boxInner" style="background: linear-gradient(rgba(23,41,71,.8), rgba(23,41,71,.8)), url({{ menu_image.url }})">
{#            <a href="{% pageurl menu.menu %}">#}
{#                <img src={{ menu_image.url }}></a>#}
            <div class="textInner">{{ menu.title }}</div>
        </div>
        </a>
        </div>
    {% endfor %}
</div>

    <!-- ABOUT US -->
<div class="container text-center">
    {{ page.about_us|richtext }}
</div>


{% endblock %}

{% block extra_js %}
    <script>
        $("#hp-awards").find("img").addClass('rounded-circle')
    </script>
    <script>

 $(document).ready(function() {

  var windowsize = $(window).width();
	if ( windowsize < 768  ){
        $("#main-nav").removeClass("navbar-dark").addClass("navbar-light");
    }

 $(window).scroll(function() {
    var scroll = $(window).scrollTop();

	if ( windowsize >= 768  ){

		if (scroll >= 1) {
			$("#main-nav").removeClass("navbar-dark").addClass("navbar-light");
		}
		else {
				$("#main-nav").removeClass("navbar-light").addClass("navbar-dark");
		}
    }



});
});

 </script>
{% endblock %}

{% block extra_css %}
    <style>

    .container, .container-fluid{
        padding: 50px 0 50px 0;
    }
    </style>
{% endblock %}