{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <form method="get">
    <label>Sort by:</label>
    <select name="filter">
        <option selected disabled>Choose here</option>
        <option value="title">Name</option>
        <option value="dishes_no">Number of dishes</option>
    </select>
    <button class="btn btn-default" type="submit">Wybierz</button>
    </form>
    <div class="text-center container">
        {{ page.description|richtext }}
    </div>
    <div class="text-center container">
{#        dictsort: id, dishes_no, title#}
        {% for menu in menu_list %}
        {% image menu.menu.header_image original as header_image %}
            <div class='menu-box' style='background-image: url({{ header_image.url }});'>
            <div class='menu-text'>
                <div class='table'>
                <div class='table-cell'>
                <a href="{% pageurl menu.menu %}"><h1>{{ menu.title }}</h1></a><br>
                <p>{{ menu.menu.description|richtext }}</p>
                </div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block extra_css %}
    <style>
        .menu-box {
            float:left;
            position: relative;
            width: 30%;
            padding-bottom: 30%;
            margin:1.66%;
            overflow:hidden;

        }
        .menu-text {
            position:absolute;
            height:80%;
            width:90%;
            padding: 10% 5%;
        }
        .table{
            display:table;
            height:100%;
            width:100%;
        }
        .table-cell{
            display:table-cell;
            vertical-align:middle;
            height:100%;
            width:100%;
        }
    </style>
{% endblock %}