{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="text-center container" style="margin-top: 5em;">
        <div class="row">
            <div class="col-12">
                    {% image page.header_image max-400x400 as header_image %}
                    <img src="{{ header_image.url }}">
                </div>
                <div class="col-12">
                    <h1>{{ page.title|richtext }}</h1>
                </div>
                <div class="col-12">
                    {{ page.description|richtext }}
                </div>
        </div>
    </div>

<div class="wrap">
    {% for dish in dishes %}
        {% image dish.header_image original as dish_image %}
        <div class="box">
        <a href="{% pageurl dish %}">
        <div class="boxInner" style="background: linear-gradient(rgba(23,41,71,.8), rgba(23,41,71,.8)), url({{ dish_image.url }})";>
            <div class="textInner">{{ dish.title }}</div>
        </div>
        </a>
        </div>
    {% endfor %}
</div>



{% endblock %}